@page "/"

<div id="excalidraw-main" style="height: 100%; width: 100%;"></div>

@code {
    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("mountExcalidraw", "excalidraw-main", null);
        }
    }
}
